In [6]:
import numpy as np
import pandas as pd

In [7]:
ds=pd.read_csv(r"C:\Users\guna5\OneDrive\Desktop\HOME-LOAN\DataSets\updated-dataset.csv")
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      9999 non-null   int64
 1   Gender                   9999 non-null   object
 2   Marital Status           9999 non-null   object
 3   Dependents               9999 non-null   int64
 4   Employment               9999 non-null   object
 5   Income (â‚¹)               9999 non-null   int64
 6   Years in Job             9999 non-null   int64
 7   Credit Score             9999 non-null   int64
 8   Active Loans             9999 non-null   int64
 9   Missed Payments (12M)    9999 non-null   int64
 10  Loan Amount (â‚¹)          9999 non-null   int64
 11  LTV (%)                  9999 non-null   int64
 12  DTI (%)                  9999 non-null   int64
 13  Loan Tenure (yrs)        9999 non-null   int64
 14  Repayment Type           9999 non-null   object
 15  Co-applicant Present     9999 non-null   object
 16  Co-applicant Income (â‚¹)  9999 non-null   int64
 17  Existing Customer        9999 non-null   object
 18  Salary Account           9999 non-null   object
 19  Base Rate Type           9999 non-null   object
 20  Base Rate (%)            9999 non-null   float64
 21  Dynamic Rate (%)         9999 non-null   float64
dtypes: float64(2), int64(12), object(8)
memory usage: 1.7+ MB

In [8]:
import pandas as pd
import sqlite3
import os

csv_file = r"C:\Users\guna5\OneDrive\Desktop\HOME-LOAN\DataSets\updated-dataset.csv"
df = pd.read_csv(csv_file)

db_name = 'my_database.db'
if os.path.exists(db_name):
    os.remove(db_name)

conn = sqlite3.connect(db_name)
cursor = conn.cursor()

create_table_query = '''
CREATE TABLE home (
    Age INTEGER,
    Gender TEXT,
    "Marital Status" TEXT,
    Dependents INTEGER,
    Employment TEXT,
    "Income (â‚¹)" INTEGER,
    "Years in Job" INTEGER,
    "Credit Score" INTEGER,
    "Active Loans" INTEGER,
    "Missed Payments (12M)" INTEGER,
    "Loan Amount (â‚¹)" INTEGER,
    "LTV (%)" INTEGER,
    "DTI (%)" INTEGER,
    "Loan Tenure (yrs)" INTEGER,
    "Repayment Type" TEXT,
    "Co-applicant Present" TEXT,
    "Co-applicant Income (â‚¹)" INTEGER,
    "Existing Customer" TEXT,
    "Salary Account" TEXT,
    "Base Rate Type" TEXT,
    "Base Rate (%)" REAL,
    "Dynamic Rate (%)" REAL
)
'''
cursor.execute(create_table_query)
conn.commit()

df.to_sql('home', conn, if_exists='append', index=False)

cursor.execute("SELECT * FROM home LIMIT 5")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

(35, 'Male', 'Widowed', 0, 'Part-time', 440000, 9, 647, 5, 0, 2830000, 76, 28, 17, 'Step-up EMI', 'Yes', 1790000, 'Yes', 'Yes', 'Floating', 6.5, 8.9)
(65, 'Male', 'Widowed', 0, 'Retired', 450000, 35, 681, 4, 1, 1140000, 70, 32, 13, 'Standard EMI', 'Yes', 1930000, 'No', 'No', 'Fixed', 6.5, 10.09)
(28, 'Female', 'Single', 1, 'Contractual', 450000, 5, 620, 3, 0, 1170000, 86, 44, 29, 'Step-up EMI', 'No', 1560000, 'Yes', 'Yes', 'Fixed', 6.5, 8.59)
(63, 'Female', 'Widowed', 1, 'Contractual', 720000, 8, 708, 5, 1, 1130000, 57, 30, 9, 'Standard EMI', 'No', 1350000, 'No', 'Yes', 'Floating', 6.5, 6.33)
(51, 'Female', 'Married', 2, 'Part-time', 880000, 1, 696, 4, 2, 2150000, 80, 31, 25, 'Standard EMI', 'Yes', 940000, 'No', 'No', 'Fixed', 6.5, 8.4)

In [9]:
ds1=pd.read_csv(r"C:\Users\guna5\OneDrive\Desktop\HOME-LOAN\DataSets\Fixed_Deposit_6.75_BaseRate.csv")
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 10000 non-null  int64
 1   Gender              10000 non-null  object
 2   Marital Status      10000 non-null  object
 3   Employment          10000 non-null  object
 4   Income (â‚¹)          10000 non-null  int64
 5   FD Amount (â‚¹)       10000 non-null  int64
 6   FD Tenure (yrs)     10000 non-null  int64
 7   Credit Score        10000 non-null  int64
 8   Base Rate (%)       10000 non-null  float64
 9   BPS Adjustment (%)  10000 non-null  float64
 10  Base Rate Type      10000 non-null  object
dtypes: float64(2), int64(5), object(4)
memory usage: 859.5+ KB

In [10]:
import pandas as pd
import sqlite3
import os

csv_file = r"C:\Users\guna5\OneDrive\Desktop\HOME-LOAN\DataSets\Fixed_Deposit_6.75_BaseRate.csv"
df = pd.read_csv(csv_file)

db_name = 'my_database.db'
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

create_table_query = '''
CREATE TABLE fd (
    Age INTEGER,
    Gender TEXT,
    "Marital Status" TEXT,
    Employment TEXT,
    "Income (â‚¹)" INTEGER,
    "FD Amount (â‚¹)" INTEGER,
    "FD Tenure (yrs)" INTEGER,
    "Credit Score" INTEGER,
    "Base Rate (%)" REAL,
    "BPS Adjustment (%)" REAL,
    "Base Rate Type" TEXT
)
'''
cursor.execute(f'DROP TABLE IF EXISTS fd')
cursor.execute(create_table_query)
conn.commit()

df.to_sql('fd', conn, if_exists='append', index=False)

cursor.execute("SELECT * FROM fd LIMIT 5")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()

(69, 'Female', 'Married', 'Retired', 1503064, 628779, 5, 435, 6.75, 0.7, 'Floating')
(32, 'Male', 'Married', 'Salaried', 1205934, 614535, 9, 840, 6.75, 0.64, 'Fixed')
(89, 'Male', 'Married', 'Retired', 96770, 899994, 9, 841, 6.75, 0.71, 'Fixed')
(78, 'Female', 'Married', 'Retired', 479115, 810447, 5, 547, 6.75, 1.04, 'Floating')
(38, 'Female', 'Married', 'Salaried', 32941, 350279, 6, 519, 6.75, 0.39, 'Floating')

In [11]:
import sqlite3

db_name = 'my_database.db'
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()

print("ðŸ“„ Tables in the database:")
for table in tables:
    print("-", table[0])

conn.close()

ðŸ“„ Tables in the database:
- home
- fd

In [ ]:
from sentence_transformers import SentenceTransformer
import sqlite3
import numpy as np
import faiss

model = SentenceTransformer("all-MiniLM-L6-v2")

conn = sqlite3.connect("my_database.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM home;")
home_loan_data = cursor.fetchall()

cursor.execute("SELECT * FROM fd;")
fd_data = cursor.fetchall()

conn.close()

all_data = home_loan_data + fd_data
texts = [str(row) for row in all_data]
embeddings = model.encode(texts)

dimension = embeddings.shape[1]
index = faiss.IndexFlatL2(dimension)
index.add(np.array(embeddings))

faiss.write_index(index, "retrieval_index.faiss")