In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
ds=pd.read_csv("credit_score_dataset_updated.csv")
df=pd.DataFrame(ds)
df.head()

,credit_score,years_with_bank,deposit_amount,repayment_history,market_trend,credit_score_adjustment,years_with_bank_adjustment,deposit_amount_adjustment,repayment_history_adjustment,market_trend_adjustment,final_interest_rate_adjustment_bps,adjusted_interest_rate,product_type
0,452,8,36221300,good,falling,-84,43,93,-19,-29,4,7.54,Home Loans
1,785,6,69293176,excellent,falling,91,33,93,62,-42,237,9.87,Fixed Deposits
2,620,0,29728001,excellent,stable,2,2,77,89,18,188,9.38,Fixed Deposits
3,456,6,13024131,excellent,falling,-63,48,90,85,-42,118,8.68,Home Loans
4,421,6,72719057,excellent,rising,-65,28,67,57,33,120,8.70,Fixed Deposits

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['repayment_history']=le.fit_transform(df['repayment_history'])
df['market_trend']=le.fit_transform(df['market_trend'])
df['product_type']=le.fit_transform(df['product_type'])
df.head()

,credit_score,years_with_bank,deposit_amount,repayment_history,market_trend,credit_score_adjustment,years_with_bank_adjustment,deposit_amount_adjustment,repayment_history_adjustment,market_trend_adjustment,final_interest_rate_adjustment_bps,adjusted_interest_rate,product_type
0,452,8,36221300,1,0,-84,43,93,-19,-29,4,7.54,1
1,785,6,69293176,0,0,91,33,93,62,-42,237,9.87,0
2,620,0,29728001,0,2,2,2,77,89,18,188,9.38,0
3,456,6,13024131,0,0,-63,48,90,85,-42,118,8.68,1
4,421,6,72719057,0,1,-65,28,67,57,33,120,8.70,0

In [16]:
x=df.iloc[:, df.columns != 'adjusted_interest_rate']
print(x.columns.tolist())
y=df['adjusted_interest_rate']
print(y.name)

['credit_score', 'years_with_bank', 'deposit_amount', 'repayment_history', 'market_trend', 'credit_score_adjustment', 'years_with_bank_adjustment', 'deposit_amount_adjustment', 'repayment_history_adjustment', 'market_trend_adjustment', 'final_interest_rate_adjustment_bps', 'product_type']
adjusted_interest_rate

In [25]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X=ss.fit_transform(x)
X=pd.DataFrame(X)
print(X.head())

         0         1         2         3         4         5         6   \
0 -1.088657 -0.279680 -0.482564  0.398379 -1.574306 -1.460530 -0.075153
1  1.000865 -0.625326  0.667679 -0.891709 -1.574306  1.581375 -0.358111
2 -0.034484 -1.662265 -0.708402 -0.891709  1.294589  0.034349 -1.235279
3 -1.063558 -0.625326 -1.289365 -0.891709 -1.574306 -1.095501  0.066325
4 -1.283177 -0.625326  0.786832 -0.891709 -0.139859 -1.130266 -0.499590

         7         8         9         10   11
0  1.208312 -0.707647 -1.308951 -1.372516  1.0
1  1.208312  0.646116 -1.729574  1.065502 -1.0
2  0.322996  1.097370  0.211761  0.552785 -1.0
3  1.042315  1.030518 -1.729574 -0.179666  1.0
4 -0.230326  0.562550  0.697094 -0.158739 -1.0

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(7000, 12)
(3000, 12)
(7000,)
(3000,)

In [27]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [28]:
y_pred=lr.predict(x_test)
print(y_pred)

[9.48650733 8.36948778 9.21581156 ... 8.68857284 8.94280761 9.70966248]

In [29]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

0.05775011446628514
0.1603738145727066
0.9083412328580723

In [30]:
from sklearn.metrics import r2_score

# Predict on both training and testing sets
y_train_pred = lr.predict(x_train)
y_test_pred = lr.predict(x_test)

# Compute R² score
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

print("Training R² Score:", train_r2)
print("Testing R² Score:", test_r2)

Training R² Score: 0.8985761186822236
Testing R² Score: 0.9083412328580723